<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gahui.take_notes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tubiao"
        android:label="猫咪日记"
        android:roundIcon="@mipmap/tubiao"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".About_author"></activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".New_note" />
    </application>

</manifest>